services:
  # 1. Base de Datos Local (Simula Cloud SQL)
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Backend (NestJS)
  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env.docker

  # 3. Frontend (Next.js)
  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
      # Pasamos las variables de build para que Next las "queme"
      args:
        NEXT_PUBLIC_API_URL: http://localhost:3000
        NEXT_PUBLIC_FRONTEND_URL: http://localhost:4000
        BACKEND_URL: http://backend:3000
    restart: always
    ports:
      - "4000:8080"
    environment:
      - PORT=8080  # Sobrescribe el PORT del .env.docker
      - NEXT_PUBLIC_FRONTEND_URL=http://localhost:4000  # Para redirecciones
    env_file:
      - .env.docker

volumes:
  postgres_data: